<link rel="stylesheet" href="/css/footerBar.css">
<footer class="bg-light text-center text-lg-end" id="footerBar">
    <!-- Copyright -->
    <div class="text-center p-3">
      <img src="img/starlogo.png" alt="">
            Constellation
    </div>
    <!-- Copyright -->
  </footer>