<!DOCTYPE html>
<html lang="en">

<!-- Importação do cabeçalho -->
<%- include('partials/header.ejs') %>
    <!-- Importação Navbar -->
    <%-include('partials/navbar.ejs') %>

        <title>Home</title>

        <body>
            <p>Página Inicial</p>
            <button class="btn btn-primary">Olá mundo</button>
        </body>
        <!-- Importação do rodapé -->
        <%- include('partials/footer.ejs')%>
</html>