<!DOCTYPE html>
<html lang="pt-br">

<!-- Importação do cabeçalho -->
<link rel="stylesheet" href="css/buttons.css">
<link rel="stylesheet" href="css/screenPassword.css">
<%- include('partials/header/header.ejs') %>
        <title>Login</title>
        <body>
            <div class="login-page">
                <div class="form">
                    <form>
                        <input class="form-control" type="text" placeholder="Usuário">
                        <input class="form-control" type="password" placeholder="Senha">
                        <a class="btn btn-success btn-lg btn-block" id="btn-success" href="home" role="button">Entrar</a>
                    </form>
                    <br>
                    <div class="link_resetPassword">
                        <p>Esqueci a <a class="link" href="#">senha</a></p>
                    </div>    
                </div>
            </div>
        </body>
        <!-- Importação do rodapé -->
        <%-include('./partials/footer/footer.ejs')%>

</html>