<!-- Importação do cabeçalho -->
<%- include('partials/header/header.ejs') %>
<!-- barra superior contendo o csss do titulo -->
<link rel="stylesheet" href="/css/usuario.css">
<!-- Importação Navbar -->
<%-include('partials/navbar/navbar.ejs') %>
    <body>
        <title>Home</title>
        <!-- Barra de titulo do sistema -->
        <div class="titleBackground">
            <div class="titlePage">
                PRODUTOS
            </div>
        </div>
        <div class="card">
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="inputNome" class="form-label">Código do produto</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Ex: Luis Priscilo">
                </div>
                <div class="col-md-4" id="inputEmail">
                    <div class="inputEmail">
                        <label for="validationDefaultUsername" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Ex: emailusuario@gmail.com"
                            aria-describedby="inputGroupPrepend2" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="inputEstado" class="form-label">Categoria</label>
                    <select class="form-select" id="inputEstado" required>
                        <option selected disabled value="">Selecione</option>
                        <option>Bebida</option>
                        <option>Cereal</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputTel" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="inputTel" placeholder="Ex: 71 9999-9999" required>
                </div>
                <div class="col-md-2">
                    <label for="inputCelular" class="form-label">Celular</label>
                    <input type="tel" class="form-control" id="inputCelular" placeholder="Ex: 71 9 9999-9999" required>
                </div>
                <div class="col-md-5">
                    <label for="inputRua" class="form-label">Rua</label>
                    <input type="text" class="form-control" id="inputRua" placeholder="Ex: Rua bonossoro lulis nº 1713" required>
                </div>
                <div class="col-md-2">
                    <label for="inputBairro" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="inputBairro" placeholder="Ex: Flores" required>
                </div>
                <div class="col-md-3">
                    <label for="inputEstado" class="form-label">Estado</label>
                    <select class="form-select" id="inputEstado" required>
                        <option selected disabled value="">Selecione</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputCep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="inputCep" required>
                </div>
            </form>
        </div>
        <div class="buttonProduto">
            <button class="btn btn-success" id="btn-success" type="submit">Salvar</button>
            <button class="btn btn-danger" id="btn-danger" role="button">Cancelar</button>
        </div>
    </body>
    <!-- Importação do rodapé -->
<%-include('./partials/footer/footerBarhome.ejs')%>
<%- include('partials/scripts/scriptPrincipal.ejs')%>

            </html>