<!DOCTYPE html>
<html lang="pt-br">

<!-- Importação do cabeçalho -->
<link rel="stylesheet" href="css/screenPassword.css">
<%- include('partials/header/header.ejs') %>

    <!-- Importação Navbar -->
    <%-include('partials/navbar/navbar.ejs') %>

        <title>Login</title>

        <body>
            <div class="login-page">
                <div class="form">
                    <form class="register-form">
                        <input type="text" placeholder="name" />
                        <input type="password" placeholder="password" />
                        <input type="text" placeholder="email address" />
                    </form>
                    <form class="login-form">
                        <input type="text" placeholder="usuário" />
                        <input type="password" placeholder="senha" />
                        <a class="btn btn-success" id="btn-success" href="home" role="button">Entrar</a>
                    </form>
                    <br>
                    <div class="resetPassword">
                        <a href="">Esqueci minha senha</a>
                    </div>    
                </div>
            </div>
        </body>
        <!-- Importação do rodapé -->
        <%-include('./partials/footer/footer.ejs')%>

</html>