<!-- Importação do cabeçalho -->
<%- include('partials/header/header.ejs') %>
    <!-- barra superior contendo o csss do titulo -->
    <link rel="stylesheet" href="/css/usuario.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Importação Navbar -->
<%-include('partials/navbar/navbar.ejs') %>
        <body>
            <title>Home</title>
            <!-- Barra de titulo do sistema -->
            <div class="titleBackground">
                <div class="titlePage">
                    USUÁRIO
                </div>
            </div>
            <div class="card">
                <form class="row g-3" action="/salvarFormulario" method="POST">
                    <div class="col-md-4">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" id="inputNome" name="name"
                            placeholder="Ex: Luis Priscilo" required>
                    </div>
                    <div class=" col-md-4">
                        <label class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="inputSobrenome" placeholder="Ex: Pinto Santos" name="middlename" required>
                    </div>
                    <div class="espaço">
                    </div>
                    <div class="col-md-4" id="inputEmail">
                        <div class="inputEmail">
                            <label class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="inputEmail"
                                placeholder="Ex: emailusuario@gmail.com" aria-describedby="inputGroupPrepend2" name="email" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Telefone</label>
                        <input type="tel" class="form-control" id="inputTel" placeholder="Ex: 71 9999-9999" name="telephone" required>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Celular</label>
                        <input type="tel" class="form-control" id="inputCelular" placeholder="Ex: 71 9 9999-9999" name="cellphone" required>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Rua</label>
                        <input type="text" class="form-control" id="inputRua"  placeholder="Ex: Rua bonossoro lulis nº 1713" name="street" required>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro" placeholder="Ex: Flores" name="district" required>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Estado</label>
                        <select class="form-select" id="inputEstado" name="state" required>
                            <option selected disabled value="">Selecione</option>
                            <option>Acre</option>
                            <option>Alagoas</option>
                            <option>Amapá</option>
                            <option>Amazonas</option>
                            <option>Bahia</option>
                            <option>Ceará</option>
                            <option>Distrito Federal</option>
                            <option>Espírito Santo</option>
                            <option>Goiás</option>
                            <option>Maranhão</option>
                            <option>Mato Grosso</option>
                            <option>Mato Grosso do Sul</option>
                            <option>Minas Gerais</option>
                            <option>Pará</option>
                            <option>Paraíba </option>
                            <option>Paraná</option>
                            <option>Pernambuco</option>
                            <option>Piauí</option>
                            <option>Rio de Janeiro</option>
                            <option>Rio Grande do Norte</option>
                            <option>Rio Grande do Sul </option>
                            <option>Rondônia</option>
                            <option>Roraima</option>
                            <option>Santa Catarina</option>
                            <option>São Paulo </option>
                            <option>Sergipe</option>
                            <option>Tocantins</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">CEP</label>
                        <input type="number" class="form-control" id="inputCep" name="cep" required>
                    </div>
            </div>
            <div class="buttonUsuario">
                <button class="btn btn-success" id="btn-success" type="submit">Salvar</button>
                <button class="btn btn-danger" id="btn-danger" type="submit">Cancelar</button>
            </div>
            </form>

        </body>
        <!-- Importação do rodapé -->
<%-include('./partials/footer/footerBarhome.ejs')%>
<%- include('partials/scripts/scriptPrincipal.ejs')%>

                </html>