<!-- Importação do cabeçalho -->
<%- include('partials/header/header.ejs') %>
    <!-- barra superior contendo o csss do titulo -->
    <link rel="stylesheet" href="/css/usuario.css">
    <!-- Importação Navbar -->
    <%-include('partials/navbar/navbar.ejs') %>
        <body>
            <title>Home</title>
            <!-- Barra de titulo do sistema -->
            <div class="titleBackground">
                <div class="titlePage">
                    USUÁRIO
                </div>
            </div>
            <div class="card">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="inputNome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="inputNome" placeholder="Luis Priscilo" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputSobrenome" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="inputSobrenome" placeholder="Otto" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">E-mail</label>
                        <div class="inputEmail">
                            <input type="text" class="form-control" id="inputEmail"
                                aria-describedby="inputGroupPrepend2" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputRua" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="inputRua" required>
                    </div>
                    <div class="col-md-2">
                        <label for="inputBairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro" required>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEstado" class="form-label">Estado</label>
                        <select class="form-select" id="inputEstado" required>
                            <option selected disabled value="">Selecione...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputCep" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="inputCep" required>
                    </div>
                </form>
            </div>
            <div class="buttonProduto">
                <a class="btn btn-success" id="btn-success" href="home" role="button">Salvar</a>
                <a class="btn btn-danger" id="btn-danger" href="home" role="button">Cancelar</a>
            </div>
        </body>
        <!-- Importação do rodapé -->
        <%-include('./partials/footer/footerBarhome.ejs')%>
        <%- include('partials/scripts/scriptPrincipal.ejs')%>

                </html>