<!-- Importação do cabeçalho -->
<%- include('partials/header/header.ejs') %>
    <!-- barra superior contendo o csss do titulo -->
    <link rel="stylesheet" href="/css/usuario.css">
    <!-- Importação Navbar -->
    <%-include('partials/navbar/navbar.ejs') %>

        <body>
            <title>Home</title>
            <!-- Barra de titulo do sistema -->
            <div class="titleBackground">
                <div class="titlePage">
                    USUÁRIO
                </div>
            </div>
            <div class="card">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">E-mail</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault03" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="validationDefault03" required>
                    </div>
                    <div class="col-md-2">
                        <label for="validationDefault03" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="validationDefault03" required>
                    </div>
                    <div class="col-md-3">
                        <label for="validationDefault04" class="form-label">State</label>
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="validationDefault05" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="validationDefault05" required>
                    </div>
                </form>
            </div>
            <div class="buttonProduto">
                <a class="btn btn-success" id="btn-success" href="home" role="button">Salvar</a>
                <a class="btn btn-danger" id="btn-danger" href="home" role="button">Cancelar</a>
            </div>
        </body>
        <!-- Importação do rodapé -->
        <%-include('./partials/footer/footerBarhome.ejs')%>
        <%- include('partials/scripts/scriptPrincipal.ejs')%>

                </html>