<p class="creatorLink" data-toggle="tooltip" data-placement="top" title="acessar GitHUB">
    <a class="creatorLink" href="https://github.com/baltieri7/ControleEstoque">Constellation Project</a>
</p>
<%-include('../scripts/scriptFooter/sFooter.ejs')%>