<link rel="stylesheet" href="/css/footerBar.css">
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer>
    <div class="text-center p-2">
      Constellation 2022
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->