<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="img/starlogo.png" alt="">
            Constellation
        </a>
    </div>
</nav>